<h3>Form Create</h3>
<form [formGroup]= "customer" (ngSubmit)= "addCustomer()" novalidate class="shadow p-3 mb-5 bg-white rounded">
    <div class="form-group">
        <label>Name</label>
        <app-car formControlName="name"></app-car>

        <div  *ngIf="customer.controls['name'].invalid && (customer.controls['name'].dirty || customer.controls['name'].touched)" class="alert alert-danger">
            <div *ngIf="customer.controls['name'].errors.required"> Name is required</div>
            <div *ngIf="customer.controls['name'].errors.minlength">name must be at least 6 characters</div>
            <div *ngIf="customer.controls['name'].errors.maxlength">name must be at most 20 characters</div>
        </div>
    </div>
    <div class="form-group">
        <label>Age</label>
        <input type="number" formControlName="age" class="form-control" required min="0" max="100"/>
        <div  *ngIf="customer.controls['age'].invalid && (customer.controls['age'].dirty || customer.controls['age'].touched)" class="alert alert-danger">
            <div *ngIf="customer.controls['age'].errors.required"> Age is required</div>
            <div *ngIf="customer.controls['age'].errors.min">Age must be at least 1</div>
            <div *ngIf="customer.controls['age'].errors.max">Age must be at most 100</div>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" >Submit</button>
    </div>
    
</form>